<table class="table">
	<thead>
		<tr>
			<th>Imie</th>
			<th>Nazwisko</th>
			<th>Dział</th>
			<th>Projekt</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pracownik in pracownicy">
			<td>{{pracownik.imie}}</td>
			<td>{{pracownik.nazwisko}}</td>
			<td>{{pracownik.dzial.nazwa}}</td>
			<td>{{pracownik.projekt.tytul}}</td>
			<td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="deletePracownik(pracownik.id)">
  				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
		</tr>
	</tbody>

	<form ng-controller="PracownicyCtrl" ng-submit="insertPracownik()">

		<legend>Dodaj pracownika: </legend>
		<div class="form-group">
    		<label for="imie">Imię</label>
    		<input type="text" class="form-control" id="imie" placeholder="Imię" ng-model="pracownik.imie">
  		</div>
  		<div class="form-group">
    		<label for="Nazwisko">Nazwisko</label>
    		<input type="text" class="form-control" id="nazwisko" placeholder="Nazwisko" ng-model="pracownik.nazwisko">
  		</div>
  		<div class="form-group">
    		<label for="pesel">PESEL</label>
    		<input type="text" class="form-control" id="pesel" placeholder="PESEL" ng-model="pracownik.pesel">
  		</div>
		<div class="form-group">
    		<label for="dzial">Dział</label>
    		<select name="dzial" id="dzial" ng-model="pracownik.dzialId" class="form-control">
      			<option ng-repeat="dzial in dzialy" value="{{dzial.id}}">{{dzial.nazwa}}</option>
    		</select>
  		</div>
    	<div class="form-group">
    		<label for="projekt">Projekt</label>
    		<select name="projekt" id="projekt" ng-model="pracownik.projektId" class="form-control">
     			<option ng-repeat="projekt in projekty" value="{{projekt.id}}">{{projekt.tytul}}</option>
    		</select>
  		</div>
   		<button class="btn btn-primary" ng-click="insertPracownik()">Dodaj</button>

	</form>
</table>